###########################
# DEPENDENCIES            #
###########################

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
SMTP_HOSTNAME=
OPENSEARCH_ADMIN_PASSWORD=
ELASTIC_MEMORY_SIZE=

###########################
# COMMON                  #
###########################

XTM_COMPOSER_ID=
COMPOSE_PROJECT_NAME=

###########################
# OPENCTI                 #
###########################

OPENCTI_HOST=
OPENCTI_PORT=
OPENCTI_EXTERNAL_SCHEME=
OPENCTI_ADMIN_EMAIL=
OPENCTI_ADMIN_PASSWORD=
OPENCTI_ADMIN_TOKEN=
OPENCTI_HEALTHCHECK_ACCESS_KEY=
OPENCTI_ENCRYPTION_KEY=

###########################
# OPENCTI CONNECTORS      #
###########################

CONNECTOR_EXPORT_FILE_STIX_ID=
CONNECTOR_EXPORT_FILE_CSV_ID=
CONNECTOR_EXPORT_FILE_TXT_ID=
CONNECTOR_IMPORT_FILE_STIX_ID=
CONNECTOR_IMPORT_DOCUMENT_ID=
CONNECTOR_IMPORT_FILE_YARA_ID=
CONNECTOR_IMPORT_EXTERNAL_REFERENCE_ID=
CONNECTOR_ANALYSIS_ID=

###########################
# OPENCTI DEFAULT DATA    #
###########################

CONNECTOR_OPENCTI_ID=
CONNECTOR_MITRE_ID=


###########################
# Virustotal Connector    #
###########################

CONNECTOR_VIRUSTOTAL_ID=
VIRUSTOTAL_TOKEN=

